<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>Lee Penkman</title>
    <meta name="description"
          content="Lee Penkman - Software Developer, Founder: Multiplication Master, Word Smashing, WebFiddle">
    <meta name="keywords"
          content="lee penkman, developers, word smashing, evangeler, addicting word games, multiplication master, webfiddle">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link rel="stylesheet" href="/static/bower_components/bootstrap/dist/css/bootstrap.min.css">

    <link rel="stylesheet" href="/static/bower_components/bootstrap/dist/css/bootstrap-theme.min.css">
    <link href="//netdna.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.min.css" rel="stylesheet">

    <link href="http://coderwall.com/stylesheets/jquery.coderwall.css" media="all" rel="stylesheet" type="text/css">


    <script src="/static/bower_components/jquery/dist/jquery.js"></script>

    <script src="/static/bower_components/bootstrap/dist/js/bootstrap.min.js"></script>

    <link href="/static/css/style.css" rel="stylesheet" type="text/css">

</head>
<body>

<div class="slides">

{% for page in book['pages'] %}
    <section>
        <img src="/static/bookdata/{{ book['name'] }}/{{ page['imagePath'] }}">
        {{ page['text'] }}
    </section>
{% endfor %}
</div>

</body>
</html>
