{% extends 'templates/base.jinja2' %}

{% block headers %}

    {% set title = 'Reading Time App! Help Kids Learn To Read!' -%}
    {% set description = 'Reading Time helps kids focus on the words being said whilst you are reading to them making learning to read easier!' -%}

    <meta charset="utf-8">
    <title>{{ title }}</title>
    <meta name="description"
          content="{{ description }}">

    <meta name="keywords" content="learning to read, story time, free kids books, reading game, teaching kids to read">
    <meta property="og:title" content="{{ title }}">
    <meta property="og:url" content="http://readingtime.app.nz">
    <meta property="og:image" content="http://readingtime.app.nz/static/imgLOGOOOOOOOOOOOOTOD TODO.png">
    <meta property="og:description"
          content="{{ description }}">
    <meta property="og:type" content="website">
    <meta property="og:site_name" content="Reading Time">
    <meta property="fb:admins" content="337972272904903">

{% endblock %}

{% block mainbody %}

    <div class="reveal">

        <div class="slides">


            {% for page in book['pages'] %}
                <section>
                    {% if 'layout' in page and page['layout'] == 'column' %}

                        <img class="left" src="/static/bookdata/{{ book['name'] }}/{{ page['imagePath'] }}" alt="{{ book['name'] }}">
                        <p class="page-words right">{{ page['text'] }}</p>
                    {% else %}
                        <p class="page-words">{{ page['text'] }}</p>
                        <img src="/static/bookdata/{{ book['name'] }}/{{ page['imagePath'] }}">
                    {% endif %}
                <div class="clear clearfix"></div>
                </section>
            {% endfor %}
        </div>
    </div>
{% endblock %}
