{% extends 'templates/base.jinja2' %}

{% block headers %}

    {% set title = 'Reading Time App! Help Kids Learn To Read!' -%}
    {% set description = 'Reading Time helps kids focus on the words being said whilst you are reading to them making learning to read easier!' -%}

    <meta charset="utf-8">
    <title>{{ title }}</title>
    <meta name="description"
          content="{{ description }}">

    <meta name="keywords" content="learning to read, story time, free kids books, reading game, teaching kids to read">
    <meta property="og:title" content="{{ title }}">
    <meta property="og:url" content="http://readingtime.app.nz">
    <meta property="og:image" content="http://readingtime.app.nz/static/imgLOGOOOOOOOOOOOOTOD TODO.png">
    <meta property="og:description"
          content="{{ description }}">
    <meta property="og:type" content="website">
    <meta property="og:site_name" content="Reading Time">
    <meta property="fb:admins" content="337972272904903">

{% endblock %}

{% block mainbody %}
    <h1 class="main-header"><img src="/static/img/reading-time-icon32.png">
        {% for word in ['Reading', ' ', 'Time', ' ', 'App'] -%}
            {% if word[0] and word[0] in ' \n\t- ,.;:\'!?"' -%}
                {{ word }}
            {%- else -%}
                <span class="reading-word" tabindex="0">{{ word }}</span>
            {%- endif -%}
        {%- endfor %}!</h1>
    <p class="main-description">
        {% for word in ['Help', ' ', 'kids', ' ', 'read', ' ', 'by', ' ', 'clicking', ' ', 'tab', ' ', 'or', ' ', 'hover', ' ', 'over', ' ', 'to', ' ', 'highlight', ' ', 'words', ' ', 'as', ' ', 'you', ' ', 'read', '. '] -%}
            {% if word[0] and word[0] in ' \n\t- ,.;:\'!?"' -%}
                {{ word }}
            {%- else -%}
                <span class="reading-word" tabindex="0">{{ word }}</span>
            {%- endif -%}
        {%- endfor %}
        </p>
    {% for book in books.values() %}
        <div class="rt-book">
            <a class="rt-book-link" href="/book/{{ book['name'] }}">
                <img class="rt-bookcover" src="/static/kids-book-covers/{{ book['cover_image_url'] }}">
            </a>
        </div>
    {% endfor %}
{% endblock %}
